$font-stack: Arial, san-serif;
$color1:#000567;
$primary-color: #333;
$fontsize:18px;
$border: 1px solid $color1;
$padding: 10px 10px;


body{
  font: $font-stack;
  color:$primary-color;
}
.container
    { 
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}


.container
{
  
  width:600px;
  margin: 15px auto;
  border:$border;
  padding:$padding;
}
p{
  font-family:$font-stack;
}
h1{

  border-bottom:$border;
  padding:$padding;
}