body {
  font: Arial, san-serif;
  color: #333;
}

.container {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
}

.container {
  width: 600px;
  margin: 15px auto;
  border: 1px solid #000567;
  padding: 10px 10px;
}

p {
  font-family: Arial, san-serif;
}

h1 {
  border-bottom: 1px solid #000567;
  padding: 10px 10px;
}
