
<center>
<div class="container">
<div class="header">
  </div>
<center><h1>Currculum vitae</h1></center>
<h2>Web Developer &</h2>
<h3>Web Designer</h3>
<h3> Dizon , Ezekiel Luis D.C </h3>
<h3> Angeles City, Pampanga, Philippines</h3>
<h3>Zekedizon721@yahoo.com.ph</h3>
<h2>Objectives</h2>
<p>To be able to work with a company that could fully make use of my skills and have a harmonic working relationship with me. I want to be able to not only help the
company that i'll be working with but also benefit from it by being able to improve my other skills.</p>
  <center><h2>About me</h2></center>
<div id="content"
<p>An alumni of Holy Family Academy and a Graduate of Holy Angel University.
I've gained skills in web development, video editing, photoshop and MS office. With this skills in hand, i'm eager to find a company that i could share my skills with. </p>
</div>
<div class="Skills">
<center><h2>Skills</h2></center>
<center><h4>Web Development</h4><center>
<h4>Photoshop</h4>
<h4>Video Editing</h4>
<h4>MS Office</h4>
<center><h2>Contact me</h2></center>
<h4>Email: zekedizon721@yahoo.com.ph</h4>
</div>